/* NAVBAR STYLES */
#bt-navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 20;
  padding: 0;
  border-bottom-style: solid;
  border-width: 1px;
}

.navbar-nav {
  padding: 14px 16px;
}

.navbar-links {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #006600;
}

a:visited {
  color: none;
}
