/* NAVBAR STYLES */

#bt-navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  /* border-bottom-style: solid; */
  /* border-width: 1px; */
  /* background-color: yellow; */
}

.navbar-nav {
  padding: 14px 16px;
}

.navbar-links {
  text-decoration: none;
  font-family: "Hiragino Sans GB";
  font-size: 20px;
  color: black;
}

a:hover {
  color: #006600;
}

a:visited {
  color: none;
}

/* LANDING PAGE STYLING */

#landing-picture {
  /* display: flex;
  justify-content: center; */
}

.landing-image {
  width: 100%;
  height: auto;
}

#main-header {
  padding: 10px;
  /* display: flex-inline; */
  text-align: center;
  font-family: "Hiragino Sans GB";
}

.job-title {
  font-size: 48px;
  margin-top: 4%;
  margin-bottom: 2%;
}

/* ABOUT STYLING */

#about {
  /* display: flex-inline; */
  /* margin: 25px, 0px; */
  padding-top: 2%;
  padding-bottom: 5%;
}

#about-container {
  font-family: "Hiragino Sans GB";
  /* width: 100%; */
  padding-right: 35px;
  padding-left: 35px;
}

.about-title {
  font-size: 40px;
  margin-bottom: 2%;
}

.about-caption {
  margin-bottom: 4%;
}

/* PROJECTS STYLING */

#projects {
  /* margin: 25px, 0px; */
  padding-top: 2%;
  padding-bottom: 5%;
  background-color: rgba(0, 102, 0, 0.4)
  /* opacity: 0.2; */
}

#projects-container {
  display: flex;
  font-family: "Hiragino Sans GB";
  /* width: 100%; */
  padding-right: 35px;
  padding-left: 35px;
}

.project-headers {
  font-family: "Hiragino Sans GB";
  padding-right: 35px;
  padding-left: 35px;
}

.project-title {
  font-size: 40px;
  margin-bottom: 2%;
}

.project-caption {
  margin-bottom: 4%;
}

.project-slide {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

/* FOOTER STYLING */

#contact {
  font-family: "Hiragino Sans GB";
  padding-top: 1%;
  text-align: center;
}

#contact-content {
  list-style-type: none;
  padding: 0px;
}


.bt-email {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.bt-social-links {
  /* display: flex;
  flex-direction: row; */
  /* justify-content: center; */
}

.social-icon {
  color: black;
}
