/* NAVBAR STYLES */
#bt-navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  /* border-bottom-style: solid; */
  /* border-width: 1px; */
  /* background-color: yellow; */
}

.navbar-nav {
  padding: 14px 16px;
}

.navbar-links {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

a:hover {
  color: #006600;
}

a:visited {
  color: none;
}

/* LANDING PAGE STYLING */

#landing-picture {
  /* display: flex;
  justify-content: center; */
}

.landing-image {
  width: 100%;
  height: auto;
}

#main-header {
  /* height: 250px; */
  padding: 25px;
  display: flex-inline;
  text-align: center;
  font-family: "Hiragino Sans GB";
}

.main-title {
  /* font-family: "Hiragino Sans GB"; */
  font-size: 65px;
  /* color: #333333; */
}

#job-header {
  /* margin: 80px; */
  width: auto;
  padding: 1px;
}

.job-title {
  /* font-family: "Hiragino Sans GB"; */
  font-size: 40px;
  /* color: #333333; */
}

/* ABOUT STYLING */

#about-container {
  display: flex-inline;
  margin: 20px;
  padding: 85px;
}

/* FOOTER STYLING */

#contact {
  /* display: flex; */
  /* justify-content: center; */
  margin: 0;
  padding: 5px;
  border-top-style: solid;
  border-width: 1px;
  /* background-color: yellow; */
}

.bt-contact {
  display: flex;
  text-align: left;
}

.bt-location {
  display: flex;
  text-align: center;
}

.bt-social-links {
  display: flex;
  text-align: right;
}
